.DS_Store
eb/dist/
eb/.elasticbeanstalk
**/node_modules/
.eslintrc.json
**/.env
.vscode
**/__pycache__/
**/npm-debug.log
*.db
lambda_funcs/*
!lambda_funcs/add_song/
lambda_funcs/add_song/*
!lambda_funcs/add_song/func.py
!lambda_funcs/get_song_queue/
lambda_funcs/get_song_queue/*
!lambda_funcs/get_song_queue/func.py
!lambda_funcs/delete_session/
lambda_funcs/delete_session/*
!lambda_funcs/delete_session/func.py
!lambda_funcs/delete_song/
lambda_funcs/delete_song/*
!lambda_funcs/delete_song/func.py